.__select {
    position: relative;
    height: 40px;
    &[data-state="active"] {
      .__select__title {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      
      .__select__content {
        opacity: 1;
        visibility: visible;
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
        border-top-width: 1px;
      }
    }
  }
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 15px;
    @media (max-width: $md4+px){
      padding: 10px 20px 10px 10px;
    }
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    color: #4E5983;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0px;
      display: block;
      width: 12.5px;
      height: 8px;
      transition: all .3s ease-in-out;
      background: url('../img/icons/arrow-select.svg') center no-repeat;
      transform: translateY(-50%);
      z-index: 1;
    }
    @media (min-width: 992px){
       &:hover{
     }
    }
    img{
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin: 0px 15px 0px 0px;
    }
  }
  .__select__content {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    // width: calc(100% - 6px);
    background-color: #ffffff;
    border: 1px solid #4E5983;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    max-height: 120px;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background: #4E5983;
    }
    &::-webkit-scrollbar-track{
      background: transparent;
    }
  }
  .__select__input {
    display: none;
  
    &:checked + label {
        background-color: #4E5983; 
        color: $white;  
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    color: #4E5983;
    font-size: 14px;
    font-weight: 300;
    min-height: 40px;
    max-height: 0;
    padding: 10px 20px 10px 15px;
    @media (max-width: $md4+px){
      padding: 10px 20px 10px 10px;
    }
    transition: all .3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    & + input + & {
      // border-top: 0 solid #0097ac;
    }
    @media (min-width: 992px){
       &:hover{
        background-color: #4E5983;  
        color: $white;    
     }
    }
    img{
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin: 0px 15px 0px 0px;
    }
  }