@charset "UTF-8";

@font-face {
  font-family: "Rubik-Bold";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Medium";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Monserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Monserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.__select {
  position: relative;
  height: 40px;
}

.__select[data-state="active"] .__select__title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.__select[data-state="active"] .__select__content {
  opacity: 1;
  visibility: visible;
}

.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 15px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  color: #4E5983;
  cursor: pointer;
}

.__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  display: block;
  width: 12.5px;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: url("../img/icons/arrow-select.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.__select__title img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 15px 0px 0px;
}

.__select__content {
  position: relative;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #4E5983;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  max-height: 120px;
  overflow: auto;
}

.__select__content::-webkit-scrollbar {
  width: 5px;
}

.__select__content::-webkit-scrollbar-thumb {
  background: #4E5983;
}

.__select__content::-webkit-scrollbar-track {
  background: transparent;
}

.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #4E5983;
  color: #fff;
}

.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #4E5983;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-height: 0;
  padding: 10px 20px 10px 15px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.__select__label img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 15px 0px 0px;
}

.burger {
  display: none;
}

.header {
  height: 90px;
  background: #fff;
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__content {
  max-width: 1250px;
  margin: 0 auto;
  height: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin: 0px 50px 0px 0px;
}

.header__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  font-size: 16px;
  color: #4E5983;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.header__link:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: currentColor;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logup {
  font-size: 16px;
  color: #4E5983;
  margin: 0px 15px 0px 0px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.header__logup:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__logup:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: currentColor;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__login {
  font-weight: 500;
  font-size: 16px;
  color: #4E5983;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  background: rgba(161, 127, 255, 0.11);
  border-radius: 9px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero {
  min-height: 100vh;
  padding: 190px 0 110px 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 111.9%;
  color: #fff;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.hero__subtitle {
  font-size: 19px;
  color: #fff;
  text-align: center;
  margin: 0px 0px 55px 0px;
}

.calc-hero {
  max-width: 100%;
  background: #fff;
  border-radius: 26px;
  position: relative;
  padding: 75px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calc-hero:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: calc(100% - 60px);
  height: 18.81px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 0px 0px 26px 26px;
}

.calc-hero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: calc(100% - 160px);
  height: 37.76px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 0px 0px 26px 26px;
}

.calc-hero__section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calc-hero__title {
  font-weight: 500;
  font-size: 18px;
  color: #4E5983;
  margin: 0px 0px 40px 0px;
}

.calc-hero__title span {
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 0px 15px;
}

.calc-hero__label {
  color: rgba(78, 89, 131, 0.5);
  margin: 0px 0px 20px 0px;
  display: block;
}

.calc-hero__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(214, 220, 226, 0.25);
}

.calc-hero__input {
  border-right: 1px solid #CFD4DA;
  padding: 0px 10px 0px 0px;
  margin: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calc-hero__input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  letter-spacing: 0.015em;
  color: #094067;
}

.calc-hero__change {
  margin: 0 40px 20px 40px;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.calc-hero__button {
  margin: 0px 0px 0px 60px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-hero__btn {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(309.41deg, rgba(86, 46, 194, 0.8) 29.59%, rgba(160, 126, 254, 0.8) 73.59%);
  background: linear-gradient(140.59deg, rgba(86, 46, 194, 0.8) 29.59%, rgba(160, 126, 254, 0.8) 73.59%);
  border-radius: 9px;
  padding: 0 30px;
  font-weight: 700;
  color: #fff;
}

.advantages {
  padding: 100px 0px 120px 0px;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 50px;
}

.advantages__img {
  margin: 0px 0px 50px 0px;
  max-width: 150px;
}

.advantages__img img {
  max-width: 100%;
  height: auto;
}

.advantages__title {
  font-weight: 500;
  font-size: 22px;
  line-height: calc(26 / 22);
  color: #4E5983;
  margin: 0px 0px 30px 0px;
}

.advantages__descr {
  font-size: 18px;
  line-height: 166.5%;
  color: #4E5983;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #4E5983;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body.hidden {
  overflow: hidden;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (min-width: 992px) {
  .__select__label:hover {
    background-color: #4E5983;
    color: #fff;
  }

  .header__link:hover:before {
    width: 100%;
  }

  .header__link:hover:after {
    width: 100%;
  }

  .header__logup:hover:before {
    width: 100%;
  }

  .header__logup:hover:after {
    width: 100%;
  }

  .header__login:hover {
    background: transparent;
  }
}

@media (max-width: 1182px) {
  .header__content {
    max-width: 970px;
  }

  .calc-hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .calc-hero__section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 10px;
  }

  .calc-hero__change {
    margin: 0 0px 20px 30px;
  }

  .calc-hero__button {
    margin: 30px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .advantages__img {
    max-width: 120px;
    margin: 0px 0px 40px 0px;
  }

  .advantages__title {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }

  .advantages__descr {
    font-size: 16px;
  }

  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .burger span {
    background: #4E5983;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 8px;
  }

  .burger:before {
    content: "";
    background: #4E5983;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 8px;
  }

  .burger:after {
    content: "";
    background: #4E5983;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 8px;
  }

  .burger_active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .burger_active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }

  .burger_active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__content {
    max-width: 750px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px 0px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo a {
    line-height: 0;
  }

  .header__logo img {
    max-width: 180px;
  }

  .header__list {
    position: absolute;
    width: 100%;
    height: auto;
    background: #4E5983;
    bottom: 0;
    left: 0;
    display: block;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    padding: 20px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .header__list li {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(214, 220, 226, 0.25);
  }

  .header__list li:last-child {
    padding: 15px 0px 0px 0px;
    border-bottom: none;
  }

  .header__list._active {
    opacity: 1;
    visibility: visible;
  }

  .header__link {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .calc-hero {
    padding: 50px;
  }

  .calc-hero__section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }

  .calc-hero__title {
    margin: 0px 0px 20px 0px;
  }

  .calc-hero__label {
    margin: 0px 0px 10px 0px;
  }

  .calc-hero__button {
    margin: 0px 0px 0px 0px;
  }

  .advantages {
    padding: 80px 0px 100px 0px;
  }

  .advantages__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0px 0px 30px 0px;
  }

  .advantages__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    max-width: none;
    padding: 0 10px;
  }

  .hero__title {
    font-size: 37px;
    margin: 0px 0px 15px 0px;
  }

  .hero__title br {
    display: none;
  }

  .hero__subtitle {
    font-size: 16px;
    margin: 0px 0px 30px 0px;
  }

  .advantages__content {
    margin: 0 -30px;
  }

  .advantages__item {
    padding: 0 30px;
  }

  .advantages__img {
    max-width: 100px;
    margin: 0px 0px 30px 0px;
  }

  .advantages__title {
    margin: 0px 0px 15px 0px;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 620px) {
  .advantages__content {
    margin: 0px 0px 0px 0px;
  }

  .advantages__item {
    padding: 0px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 479.98px) {
  .__select__title {
    padding: 10px 20px 10px 10px;
  }

  .__select__label {
    padding: 10px 20px 10px 10px;
  }

  .header {
    height: 60px;
  }

  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__logo img {
    max-width: 100px;
  }

  .header__logup {
    font-size: 14px;
    margin: 0px 5px 0px 0px;
  }

  .header__login {
    font-size: 14px;
    height: 45px;
    padding: 0 10px;
  }

  .hero {
    padding: 110px 0;
  }

  .hero__title {
    font-size: 25px;
  }

  .calc-hero:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    width: calc(100% - 30px);
    height: 15px;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 0px 0px 26px 26px;
  }

  .calc-hero:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    width: calc(100% - 100px);
    height: 30px;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 0px 0px 26px 26px;
  }

  .calc-hero__title {
    font-size: 16px;
    line-height: 1.3;
    margin: 0px 0px 10px 0px;
  }
}